* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #ccc;
}

.hide {
    display: none;
}

#upcoming, #results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.upcoming-card, .result-card {
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.upcoming-card .match-name, .result-card .match-name {
    font-size: 16px;
    margin-bottom: 10px;
}

.upcoming-card .match-crest, .result-card .match-crest {
    margin-top: auto;
    max-width: 100px;
}

.upcoming-card .map {
    margin-top: 10px;
}

.result-card .map {
    margin-top: auto
}

.upcoming-card .map i, .result-card .map i {
    color: green;
    margin-right: 10px;
}

.upcoming-card .teams, .result-card .teams {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 5px 0;
}

.upcoming-card .team1, .upcoming-card .team2, .result-card .team1, .result-card .team2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.result-card .team1, .result-card .team2 {
    width: 120px;
    padding: 10px 0;
}

.upcoming-card .team-crest, .result-card .team-crest {
    margin-top: auto;
    max-width: 80px;
}

.winner {
    background-color: #D2222D;
}

.loser {
    background-color: #238823
}